<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators">
   <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

 </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
    <%= image_tag 'everydaycarry.jpg', class: 'd-block img-fluid' %>
      </div>
  </div>
