<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <header class="row">
    <div class="col-3">
    </div>
      <div class="col-5 links">
        Take a sneak peak of what's inside my everyday carry backpack
    </header> 
    
    <hr />

    <br class="clear" />

    <%= yield %>
  

  </body>
</html>
